ion-tab-bar {
  --background: var(--ion-color-light);
}

.date-item {
  margin-left: 15px;
  margin-top: 15px;
}

div[slot="content"] {
  background: var(pageBG);
}

.tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list h3 {
  margin-left: 15px;
  margin-bottom: 30px;
}

ion-accordion {
  background-color: var(pageBG) !important;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.tasks-container p {
  margin-left: 20px;
}

.addMemberBtn {
  display: flex;
}

.addMemberBtn ion-button {
  margin-left: 20px;
  max-height: 20px;
  margin-top: 12px;
}

.spacer {
  height: 30px;
}

.custom-modal {
  --max-height: 500px;
  --max-width: 300px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content ion-button {
  width: 60%;
  margin-top: 25px;
  padding: 12px;
}

.modal-content ion-item {
  margin-top: 30px;
}
