div[slot="content"] {
  background: var(--pageBG);
}

h2 {
  font-size: 32px !important;
  font-weight: 400;
  margin-bottom: 20px !important;
  margin-left: 20px;
}

.project-card {
  background-color: #1e90ff;
  color: white;
  border-radius: 10px;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
}

.project-details {
  display: flex;
  align-items: center;
}

.project-details span {
  margin-left: 5px;
  margin-right: 10px;
}

.favorite-icon {
  font-size: 24px;
}

.noProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

.folder {
  height: auto;
  max-width: 300px;
}

.bienvenida {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 18px;
}

.empezar {
  margin-bottom: 30px;
  font-size: 12px;
}
