body {
    background-color: #EDF2FA;
    font-family: 'Roboto', sans-serif;
    color: #2F2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #EDF2FA;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INICIO LOGO */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}

.logo-container img {
    width: 64px;
    height: auto;
    margin-right: 1em;
}

.logo-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #2F2E2E;
}

/* FIN LOGO */

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2F2E2E;
    margin: 0;
}

.login-title {
    font-size: 2rem;
    color: black;
}

.forgot-password {
    font-size: 0.9rem;
    color: #42A5F5;
    text-decoration: underline;
}

.login-button {
    font-weight: 800;
    font-size: 1rem;
    background-color: #303F9F;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 486px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-group label {
    font-weight: 400;
    font-size: 12px;
    color: black;
}

.form-control {
    background-color: #EDF2FA;
    border-radius: 10px;
    border: 1px solid #2F2E2E;
}

.form-group.terms {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
}

.form-group.terms label {
    font-size: 12px;
    color: #2F2E2E;
}

.form-group.terms a {
    color: #42A5F5;
    text-decoration: underline;
    font-style: italic;
}

.form-group.terms input[type="checkbox"] {
    margin-right: 12px;
}

#terms-error {
    color: #f44336;
    font-size: 12px;
}

.btn-register-container {
    display: flex;
    justify-content: center;
}

.btn-register {
    width: 50%;
    background-color: #303F9F;
    color: #EDF2FA;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-weight: 800;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #1a237e; 
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.login-link a {
    color: #42A5F5;
    text-decoration: underline;
    font-style: italic;
}


