.projectCard {
  background-color: #4db8ff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.projectCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.projectDetails {
  display: flex;
  align-items: center;
  color: white;
}

.projectDetails ion-icon {
  margin-right: 5px;
}

.favoriteIcon {
  color: yellow;
  font-size: 1.5rem;
  margin-left: auto;
  transition: color 0.3s ease;
  cursor: pointer;
}

.favoriteIcon:hover {
  color: #ffcc00;
}
